.header-text {
    color: #cfe2f8;
    font-size: 18px;
    line-height: 50px;
}

.main-banner {
    height: 500px;
    background-image: url('../images/login/login-banner.png');
    overflow-x: auto;
}

.login-container {
    height: 400px;
    background-color: #EEEEEE;
    margin: 50px;
    border-radius: 10px;
}

.login-container .lead {
    padding-top: 30px;
}

.login-container .form-horizontal {
    padding-top: 30px;
}

.text-white {
    color: white;
}

.text-white .lead {
    padding-top: 70px;
}

.text-white .lead ul li {
    font-size: 18px;
    line-height: 50px;
    list-style: circle;
    margin-left: 20px;
}