
.home-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.home-leftcont{
	width: 15%;
	float: left;
	background-color: #343843;
}
.home-rightcont{
	width: 85%;
	float: right;
}
.home-leftmenu{
	width: 100%;
	background-color: #272b36;
	height: 100%-10px;;
}

.home-leftbg{
	background-color: #1f222b;
	border-right: 2px solid #00bfff;
}
.home-leftbgnone{
	background-color: #272b36;
	border-right: none;
}
.home-menu-top{
	text-align: center;
	height: 50px;
}
.home-menuicon{
	background: url(../img/wf_menu.png) no-repeat center;
	display: block;
	float: right;
	padding: 10px;
	width: 30px;
	height: 30px;
	border-left: 1px solid #24272f;
}
.home-menu-ul ul li{
	font-size: 16px;
	color: #a7acb9;
	/*padding: 10px 10px;*/
	/*border-bottom: 1px solid #24272f;*/
	/*padding-left: 50px;*/
}
.home-menu-ul ul li p{
	font-size: 16px;
	color: #a7acb9;
	padding: 20px;
	/*border-bottom: 1px solid #24272f;*/
	padding-left: 70px;
	margin-bottom: 0px;
	cursor: pointer;
}
.home-menu-ul ul li span{
	float: right;
	color: #6f7485;
	font-size: 12px;
	margin-top: 3px;
}
.home-menu-ul ul li a{
	color:#cccccc;
}
.home-menu-ul ul li a:hover{
	text-decoration: underline;
}
.home-menu-ul ul li a:visited,.home-menu-ul ul li a:active{
	color: #a7acb9;
	text-decoration: none;
}
.home-menu-ul ul li.home-org-notselect{
	background: url(../img/home.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-org-select{
	background: url(../img/home-active.png) no-repeat 25px 21px;
	color: #09b0ff;
}
.home-menu-ul ul li.home-home-notselect{
	background: url(../img/home1.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-home-select{
	background: url(../img/home1-active.png) no-repeat 25px 21px;
	color: #09b0ff;
}
.home-menu-ul ul li.home-bigping-notselect{
	background: url(../img/bigping.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-bigping-select{
	background: url(../img/bigping-active.png) no-repeat 25px 21px;
	color: #09b0ff;
}
.home-userCenter-notselect{
	background: url(../img/caiji.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-userCenter-select{
	background: url(../img/caiji-active.png) no-repeat 25px 21px;
	color: #09b0ff;
}
.home-foreignManagement-notselect{
	background: url(../img/jiexi.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-foreignManagement-select{
	background: url(../img/jiexi-active.png) no-repeat 25px 21px;
	color: #09b0ff;
}
.home-attendancemanagement-notselect{
	background: url(../img/log.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-attendancemanagement-select{
	background: url(../img/log-active.png) no-repeat 25px 21px;
	color: #09b0ff;
}
.home-holidaymanagement-notselect{
	background: url(../img/market.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-holidaymanagement-select{
	background: url(../img/market-active.png) no-repeat 25px 21px;
	color: #09b0ff;
}
.home-salarymanagement-notselect{
	background: url(../img/data.png) no-repeat 25px 26px;
}
.home-menu-ul ul li.home-salarymanagement-select{
	background: url(../img/data-active.png) no-repeat 25px 26px;
	color: #09b0ff;
}
.home-employeeservice-notselect{
	background: url(../img/system.png) no-repeat 25px 21px;
}
.home-menu-ul ul li.home-employeeservice-select{
	background: url(../img/system-active.png) no-repeat 25px 21px;
	color: #09;
}
.home-menu-ul ul li.home-iconaa p,
.home-menu-ul ul li.home-iconbb p,
.home-menu-ul ul li.home-iconcc p,
.home-menu-ul ul li.home-icondd p,
.home-menu-ul ul li.home-iconee p,
.home-menu-ul ul li.home-iconff p,
.home-menu-ul ul li.home-icongg p,
.home-menu-ul ul li.home-iconhh p,
.home-menu-ul ul li.home-iconii p{
	box-shadow: 0 1px 5px rgba(0,0,0,0.5) inset;
}
.home-menu-ul ul li ul{
	margin-left: -50px;
	padding-left: 30px;
}
.home-menu-ul ul li ul li{
	font-size: 14px;
	border-bottom: none;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 20px;
	margin-left: 70px;
}
.home-menu-ul ul li ul:after{
	height: 10px;
	display: block;
	content: "";
	margin-left: 50px;
}





/*home right*/
.home-rightall{
	padding: 10px 20px;
	padding-bottom: 0px;
}
.home-right-top p{
	font-size: 16px;
}
.home-right-search{
	border: 1px solid #eeeeee;
	padding: 15px;
	position: relative;
	border-radius: 5px;
}
.home-search-arr{
	position: absolute;
	right: 5px;
	top: 0px;
	color: #a7acb9;
}
.home-right-search .form-control,
.home-right-search .form-group{ 
	width: 100%;
}
.form-topline{
	margin-top: 15px;
}
.form-topline button{
	width: 50%;
}
.btn-cluegreen{
	background-color: #11C7AE;
	color: #fff;
}
.btn-cluegreen:active,.btn-cluegreen:visited{
	color: #fff;
	background-color: #0fad97;
	outline: none;
}
.form-topline .btn:focus, .form-topline .btn:hover{
	color: #fff;
}
.home-right-bottom{
	border: 1px solid #eeeeee;
}
.home-menu-bott-top{
	background-color: #f4f4f4;
	padding: 15px;
	
}
.home-menu-icomuch{
	background: url(../img/wf_xial.png) no-repeat;
	display: block;
	width: 22px;
	height: 12px;
	float: left;
}
.home-menu-bott-top span.home-bottom{
	float: right;
}
.home-table{
	padding: 10px;
	text-align: center;
	padding-bottom: 0px;
}
.home-table th{
	text-align: center;
}
.home-page{
	padding: 15px;
	padding-right: 0px;
}
.home-pageleft{
	float: left;
}
.home-pageright{
	float: right;
}
.dropdown-toggle{
	cursor: pointer;
}


.table{
	margin-bottom: 5px;
}
.table thead{
	border-top: 1px solid #ddd;
}
.quotes {
	text-align: center;
	float: right;
}
.quotes a {
	border: #ddd 1px solid;
	padding: 2px 5px; 
	COLOR: #aaa; 
	margin-right: 2px; 
	text-decoration: none
}
.quotes a:hover {
	border: #a0a0a0 1px solid; 
	padding: 2px 5px; 
	margin-right: 2px; 
}
.quotes a:active {
	border: #a0a0a0 1px solid; 
	padding: 2px 5px; 
	margin-right: 2px; 
}
.quotes span.current {
	border: #e0e0e0 1px solid; 
	padding: 2px 5px; 
	font-weight: bold; 
	color: #aaa; 
	margin-right: 2px; 
	background-color: #f0f0f0
}
.quotes span.disabled {
	border: #f3f3f3 1px solid; 
	padding: 2px 5px; 
	color: #ccc; 
	margin-right: 2px; 
}

.home-btnstyle{
	border: none;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	padding: 5px 10px;
	background: #eeeeee;
	margin: 10px;
	float: right;
}
.home-footer{
	background-color: #272b36;
	height: 30px;
	text-align: center;
	padding-top: 8px;
}
.home-footer p{
	margin: 0px;
	font-size: 12px;
	lighting-color: 24px;
	color: #7d8592;
}
.panel-body{
	padding: 0;
}
.home-user{
	float: left;
}
.dropdown{
	float: left;
}
.header{
	width: 100%;
	height: 50px;
}
.home-menu-top{
	width: 15%;
	background-color: #272b36;
}
.homeuser{
	height: 50px;
	background-color: #272b36;
	overflow: hidden;
	width: 85%;
}
.usercont{
	float: right;
	line-height: 50px;
}
.usercont img{
	margin-right: 50px;	
}
.userdiv{
	display: inline-block;
	padding: 0 30px;
	margin-right: 30px;
}
.userdiv span{
	font-size: 18px;
	color: #cfe2f8;
	margin-right: 15px;
}
.userdiv img{
	margin-right: 0;
}
